USE [master]
GO
/****** Object:  Database [CONFERENCE_REVIEW]    Script Date: 5/16/2020 7:17:48 PM ******/
CREATE DATABASE [CONFERENCE_REVIEW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CONFERENCE_REVIEW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CONFERENCE_REVIEW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CONFERENCE_REVIEW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CONFERENCE_REVIEW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CONFERENCE_REVIEW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CONFERENCE_REVIEW]
GO
/****** Object:  Table [dbo].[author]    Script Date: 5/16/2020 7:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[author](
	[EmailAddress] [varchar](60) NOT NULL,
	[FirstName] [char](20) NULL,
	[LastName] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paper]    Script Date: 5/16/2020 7:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paper](
	[P_ID] [varchar](30) NOT NULL,
	[Title] [varchar](255) NULL,
	[Abstract] [varchar](255) NULL,
	[FileName] [varchar](20) NULL,
	[Author_Email] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 5/16/2020 7:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Review_ID] [int] NOT NULL,
	[MeritScore] [int] NOT NULL,
	[Recommendation] [varchar](70) NULL,
	[ReadabilityScore] [int] NULL,
	[OriginalityScore] [int] NULL,
	[RelevanceScore] [int] NULL,
	[R_Email] [varchar](60) NULL,
	[P_ID] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Review_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviewer]    Script Date: 5/16/2020 7:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviewer](
	[R_Email] [varchar](60) NOT NULL,
	[FirstName] [char](20) NULL,
	[LastName] [char](20) NULL,
	[PhoneNo] [int] NULL,
	[AuthorFeedback] [varchar](200) NULL,
	[CommiteeFeedback] [varchar](200) NULL,
	[Affiliation] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[R_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 5/16/2020 7:17:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[TopicID] [int] NOT NULL,
	[TopicName] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Paper]  WITH CHECK ADD FOREIGN KEY([Author_Email])
REFERENCES [dbo].[author] ([EmailAddress])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([P_ID])
REFERENCES [dbo].[Paper] ([P_ID])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([R_Email])
REFERENCES [dbo].[Reviewer] ([R_Email])
GO
USE [master]
GO
